FLASK_ENV=development
FLASK_APP=app

SECRET_KEY=4)jpo6c!ze)vpi8rdhy4$zx+#6met^#wxgq20t^%#!zh^+rro%
JWT_SECRET_KEY=m9%lu#xp-*8t!k#pl*n#)4su)un&$sm95dn2gg$-r*fszsi8*k

FLASK_RUN_PORT=8000
FLASK_RUN_HOST=0.0.0.0

SQLALCHEMY_DATABASE_URI=postgresql://store:store@store_postgres:5432/online_store_flask
TEST_SQLALCHEMY_DATABASE_URI=postgresql://store:store@store_postgres:5432/test_store_flask
SQLALCHEMY_TRACK_MODIFICATIONS=False

UPLOAD_FOLDER=/backend/media/

MIGRATIONS_DIR=/backend/migrations/

ACCESS_KEY_ID=AKIASZQJSQHOOOXKSYRF
ACCESS_SECRET_KEY=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
