input[type="text"],
input[type="password"] {
    height: 25px;
    border: 1px solid rgba(0, 0, 0, 0.2);
}

input[type="submit"] {
    margin-top: 10px;
    cursor: pointer;
    font-size: 15px;
    background: #0060B6;
    border: 1px solid #01d28e;
    color: #fff;
    padding: 10px 20px;
}

input[type="submit"]:hover {
    background: #50abff;
}

.register-form {
    width: 600px;
    margin: auto;
    background-color: white;
    padding: 2rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.register-title {
    margin-left: 250px;
    margin-bottom: 20px;
    font-size: 25px;
    color: #0060B6;
}

.register-input {
    margin: 10px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    color: #0060B6;
}

.register-error {
    color: red;
}

.register-button-wrapper {
    display: flex;
    justify-content: space-between;
}

.register-show-password {
    color: #0060B6;
}

.register-button {
    display: flex;
    justify-content: center;
}
