.header-wrapper {
    margin: 20px 0 20px 0;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 30px;
    border-style: solid;
    border-radius: 10px;
    background-color: #ff97ab;
}

.nav-link {
    color: white;
    margin-right: 10px;
}

.shop-title {
    color: white;
}