.user-profile {
    width: 600px;
    margin: auto;
    padding: 2rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    font-size: 20px;
}

.profile-email {
    margin-bottom: 20px;
}

.profile-list-item {
    margin-bottom: 5px;
}